@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&family=Montserrat&family=Otomanopee+One&display=swap');
body {
	/* font-family: 'Encode Sans SC', sans-serif;
	font-family: 'Montserrat', sans-serif !important; */
	font-family: 'Otomanopee One', sans-serif !important;
	background-color: #4158d0;
	background-image: linear-gradient(
		43deg,
		#4158d0 0%,
		#c850c0 46%,
		#ffcc70 100%
	);
}
.nav-text {
	font-size: 1.2rem !important;
	color: rgb(15, 13, 11) !important;
	transition: all.2s;
}
.nav-text:hover {
	opacity: 0.7;
}

.allmusic {
	padding: 3px;
}

.cardhover {
	cursor: pointer;
	transition: all 0.2s;
}
.cardhover:hover {
	transform: scale(1.02);
	transition: all 0.5s;
}
img {
	opacity: 0.8;
}
img:hover {
	opacity: 1;
}
footer {
	margin-top: 40px;
	text-align: center;
	color: white;
}
/* <!--
ASSIGNMENT TOPIC
You are creating a website to showcase your favourite music albums.
In this page you will have a short biography section of yourself, and the top albums of your life, 
the worst album you ever listened to and everything related to the music you love.

ASSIGNMENT RULES
- The project must be pushed to a new repository and linked in EduFlow by the end of the day.
- You can google / use StackOverflow BUT we suggest you to use just the material provided and documentation.
- To test the page, open it with your browser and inspect it with developer tools / device emulator.
- Use Bootstrap4.6 classes to create the page.
- Use containers, rows and cols in order to achieve a great responsive layout.

NOTE:
Even the most experienced designers need inspiration.
Spend some time surfing the web researching the best way of representing the albums you love.
Could be the Amazon way, the Spotify or Apple music way or any other music collection out there.

HINT: Manage your time in order to finish the structure and responsiveness before focusing on details.
--> */
